<footer class="center">
  <div class="measure">
    <div class="left">
      <small>
        &copy; {{ site.time | date:"%Y" }} {{ site.title }}
      </small>
    </div>
    {% if site.show_social_icons %}
      {% include social_links.html %}
    {% endif %}
  </div>
</footer>
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZHFR3G5VE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MZHFR3G5VE');
</script>

